<ion-modal-view ng-controller="ViewUserCtrl">
  <ion-header-bar>
    <h1 class="title">Users of {{list.name}}</h1>
    <button ng-click="closeModal()" class="button button-clear button-positive">
      Cancel
    </button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="user in users">
        <img class="search-user-image" ng-src="{{user.picture}}" alt="user picture" />
        <span class="search-user-name">{{user.username}}</span>
      </ion-item>
    </ion-list>
    </button>
  </ion-content>
</ion-modal-view>
